{% load static %}
<!DOCTYPE html>

<head>
    <title>Register - solarPV</title>
    <link rel="stylesheet" href="{% static 'solarpv/styles.css' %}">
</head>

<body>
    <header>
        <a href="{% url 'index' %}"><img src="{% static 'solarpv/img/happy-sun.svg' %}" alt="Happy Sun" id="sun"></a>
        <div id="logo">
            <h1>solarPV</h1>
            <h2>Research & Development</h2>
        </div>
        <hr>
        <nav id="topnav">
            <a href="aboutus.html">About Us</a> |
            <a href="contactus.html">Contact Us</a> |
            <a href="https://facebook.com">Facebook</a> |
            <a href="https://twitter.com">Twitter</a>
        </nav>
    </header>
    <hr>
    <nav id="menu">
        <a href="racks.html">Racks & Trackers</a>
        <a href="pvmodule.html">PV Module</a>
        <a href="pvsystems.html">PV Systems</a>
        <a href="analytics.html">Data Analytics</a>
        <a href="cybersecurity.html">Cybersecurity</a>
    </nav>
    <hr>
    <main id="register">
        <h2>Register</h2>
        <form action="/action_page.php" method="GET">
            Username: <input type="text" name="username" maxlength="8" required><br>
            Client ID: <input type="text" name="clientid" maxlength="6" required><br>
            First Name: <input type="text" name="fname" required><br>
            Middle Name (optional): <input type="text" name="mname"><br>
            Last Name: <input type="text" name="lname" required><br>
            Job Title: <input type="text" name="job" required><br>
            Email: <input type="email" name="email" required><br>
            Office Phone Number: <input type="number" name="phone" maxlength="10" required><br>
            Cell Phone Number: <input type="number" name="phone" maxlength="10" required><br>
            Prefix (Mr., Dr., etc.): <input type="text" name="prefix" required><br>
            Are you staff? <input type="radio" name="isstaff" value="yes"> Yes
            <input type="radio" name="isstaff" value="no"> No<br>
            <input type="submit" value="Register" class="button">
        </form>
    </main>
    <hr>
    <footer>
        <div id="foot">
            <div>
                <p>solarPV</p>
                <address>Address, Phone, Email, Website</address>
            </div>
            <hr>
            <p>Copyright 2020 All Rights Reserved</p>
        </div>
        <hr>
        <nav id="botnav">
            <a href="sitemap.html">Site Map</a> |
            <a href="terms.html">Terms & Conditions</a> |
            <a href="privacy.html">Privacy Policy</a> |
            <a href="aboutus.html">About Us</a>
        </nav>
    </footer>
</body>

</html>